# ----------------------------------------
# Docker & Proxy settings
# ----------------------------------------
WEB_SERVER_FORWARD_PORT=9001
BACKEND_FORWARD_PORT=9000

# ----------------------------------------
# Backend Configuration
# ----------------------------------------
PORT=9000
DATABASE_URL=sqlite:///app/data/sqlite.db

# ----------------------------------------
# Frontend Configuration
# ----------------------------------------
NEXT_PUBLIC_SITE_NAME=ZipTransfer
NEXT_PUBLIC_API_URL=/api
NEXT_PUBLIC_CONTACT_EMAIL=contact@youremail.com
NEXT_PUBLIC_SUPPORT_EMAIL=support@youremail.com
NEXT_PUBLIC_GITHUB_URL=https://github.com/Mapaor/ziptransfer

# Production URLs (specify domain where the web and server live)
WEB_URL=http://localhost:9001
SERVER_URL=http://localhost:9000

